
footer {
    color: white;
    background: rgb(90, 90, 175);
    font-family: var(--font-pacifico);
    text-shadow: 5px 5px 5px rgb(21, 24, 24);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer:hover {
    text-shadow: 5px 5px 5px rgb(4, 11, 122);
}